# dependencies
node_modules

# next.js
.next
out

# production
build
dist

# env files
*.local
.env

# logs
*.log
npm-debug.log*

# editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# vercel
.vercel
